body {
  overflow: hidden;
  margin: 0;
  padding: 0 20px;
  width: 100%;
  height: 100vh;
}
/* Style for drag and drop area */
#node169DropArea {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 10px;
}
/* Wrapper for the generated grid */
#gridWrapper {
  max-width: 50vw;
  min-width: 400px;
  margin: 0 auto;
}
/* Grid for images */
#imagesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  width: 526px;
}
#generatedGrid img {
  width: 100%;
  cursor: pointer;
  border: 2px solid transparent;
}
#generatedGrid img.selected {
  border-color: blue;
}
#noiseCanvas{
  border-radius: 20px;
}


/* Right pane */
#rightPane {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  max-width: 600px;
  width: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0,0,0,0.5);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1050;
}
#rightPane.show {
  transform: translateX(0);
}

